#Q-2 Sum & product of first 10 natural numbers using while loop

In [1]:
n=10
i=0
counter=1
while counter<11:
    i = i + counter
    counter = counter + 1
i

55

In [3]:
n=10
i=1
counter=1
while counter<11:
    i = i * counter
    counter = counter + 1
i

3628800

#Q-2 Sum & product of first 10 natural numbers using for loop¶

In [4]:
a=(1,2,3,4,5,6,7,8,9,10)

In [5]:
add=0
for i in a:
    add=add+i
print(add)

55

In [6]:
Pro=1
for i in a:
    Pro=Pro*i
print(Pro)

3628800

#Loop function- used in define set of data #for example we have to find the addition of each in the give list

In [7]:
l=[2,3,4,5,6,7,8,9]

In [8]:
addition=0
for i in l:
    addition=addition+i 
addition

44

#While loop is used where we have a range of data
We need a list of square values from 1 to 10¶

In [9]:
i=1
while i<11:
    result=i**2
    print(result)
    i=i+1

1
4
9
16
25
36
49
64
81
100

#Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [16]:
n=int(input("Units of electricity"))
if n <=100:
    Bill= n*4.5
elif n > 100 and n <= 200:
    Bill = 100*4.5+ (n-100) *6
elif n >200 and n <=300:
    Bill = 100*4.5 + 100*6+ (n-200) * 10
else:
    Bill = 100*4.5+ 100*6 + 100*10+ (n-300)*20
Bill

Units of electricity 310

2250.0

#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [51]:
l= [4,8,2,10,12,16,17,18]

In [63]:
cube=[]
for i in l:
    cube.append(i**3)
    
print(cube)

[64, 512, 8, 1000, 1728, 4096, 4913, 5832]

In [74]:
new=[]
for i in cube:
    if i%4==0 or i%5==0:
        new.append(round(i**(1/3),1))
    
print(new)

[4.0, 8.0, 2.0, 10.0, 12.0, 16.0, 18.0]

In [75]:
Final = []
final= cube + new
print(final)

[64, 512, 8, 1000, 1728, 4096, 4913, 5832, 4.0, 8.0, 2.0, 10.0, 12.0, 16.0, 18.0]

#Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [1]:
s="I want to become a data scientist"
vowel=["a","e","i","o","u"]
count=0
for i in s:
    if i in vowel:
        count=count+1
        
print(count)

11